
#search {
  color: red;
  width: 15vw;
  height: 5vh;
}
.page{
  width: 100%;
}
.header{
  width: 100%;
}

.signupnow{
  background-color:blueviolet;
  text-align: center;
  font-size: 1rem;
  width: 100%;
  margin: 0px;

}

.options {
  /*background-color: aqua;*/
  position: sticky;
}

.myaccount {
/*background-color: pink;*/
display: flex;
list-style: none;
justify-content: space-around;
font-weight: 700;
}
.myaccount-links{
  color: black;}

  
.logo{
    font-weight: 800;
    font-size: 1.8rem;
    color: rgba(201, 89, 44, 0.959);
   }

.list{
  display: flex;
list-style: none;
justify-content: space-around;
align-content: center;
font-weight: 500;
text-decoration: underline;
font-size: 18px;
margin-top: 8vh;
}

.hamburger-icono{
  visibility: hidden;
    }
.top-body{
    display: flex;
    justify-content:space-between;
    height: 100%;
    margin-top: 5vh;}

.top-body_text{
      background-color: whitesmoke;
      width: 100%;
      margin-left: 50px;
      display: flex;
      flex-direction: column;
      height: 100%;
      }

      

.text{
          padding-left: 5vw;
          padding-top: 1vh;
          padding-right: 5vw;
          margin-bottom: 5vh;
          font-size: 20px;

      }

    .links{
          display: flex;
          justify-content: space-around;
          list-style: none;
          margin-top: auto;
          margin-bottom: 8vh;
        }
          

    .button{
              border: 1px solid papayawhip;
              padding: 8px;
              background-color: papayawhip;
              color: black; 
              text-decoration: none; 
              /*text-transform: uppercase;*/
              font-family: 'Helvetica', sans-serif;
              border-radius: 50px;
              text-align: center;
              
            }
        
    

    .top-body_image{
      margin-right: 50px;
    }
    
    .image{
        height: 100%;
        width: 30vw;
      }

    
  

  .containerbody{ 
    height: 100%;}

  .containerbody-categories{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content:space-around;
      height: 100%;
      gap: 1vw;
      margin-bottom: 50px;
      padding-left: 0;
    }
      
      


  .containerbody-categories_furniture{
          width: 23vw;
          height: 45vh;
          list-style: none;
          align-items: center;
          height: 100%;
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          padding-bottom: 15px;
          border: black 1px solid;
          border-color: brown;}
      

          .img {
            width: 100%;
            height: 200px;
          }
        
    

.bottom-card{
border: black 2px solid;
width: 120px;
height: 35px;
text-align: center;
padding-top: 3%;
text-decoration: none;
color: black;
border-radius: 5%;
}
.discount{
  
}
.categories{
  margin-top: 2vh;
  margin-bottom: 6vh;
}



.community-text{
  text-align: center;
  font-size: 20px;
  margin-bottom: 5px;
}

.community-title{
  text-align: center;
  font-weight: 300;
  font-size: 50px;
  margin-top: 0px;
}
  
.community-list{
  display: flex;
  justify-content: space-around;
  padding-left: 50px;
  padding-right: 50px;
}
.container-community{
  width: 27vw;
  list-style: none;
  align-items: center;
  height: 100%;
  
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  margin-bottom: 5vh;
  text-align: center;
}
.title{
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
.description{
     font-size: 14px;
     margin-top: 0px;
     padding-left: 10px;
    padding-right: 10px;
  }

  img{
    width: 100%;
    height: 200px;
  }



.footer{
  display: flex;
  flex-direction: row;
  height: 100%;
  
}
.title-link{
  text-align: center

}

.singup{
  background-color: navy;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 10px;
  gap: 3vh;

  .signup-title{
    color: white;
  }
  .signup-p{
    color:white;
    padding-left: 2vw;
    padding-right: 2vw;
  }
  .signup-bottom{
    /*border: rgb(35, 187, 149) 2px solid;

height: 35px;
padding-top: 3%;
text-decoration: none;
color:white;
background-color: rgb(35, 187, 149);
border-radius: 5%;*/
border:rgb(35, 187, 149) 2px solid ;
text-decoration: none;
color:white;
background-color: rgb(35, 187, 149);
border-radius: 5%;
  }
}

.footer-links{
  padding-top: 3vh;
  background-color: rgb(243, 240, 240);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 1vw;
  padding-right: 1vw;
  height: 100%;
  width: 100%;
  padding-bottom: 30px;
}
.footer-link{
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}
a:hover{
  color:darkblue;
}

.community-mobile{
  visibility: collapse;
}
.community{
  margin-top: -110vh;
}
@media (max-width:576px){
  .signupnow{
    width: 100%;
    background-color: yellow;
  
  }
  .search-mobile{
   visibility: hidden;
  }
  .myaccount{
    flex-direction: row-reverse;
    padding: 0px;
    margin: 5vw;
    
  }
  .hamburger-icono{
    visibility: visible;
    background-color: aqua;
    width: 5;
  }
  .list{
    visibility: hidden;
  }
  .options{
    height: 10vh;
    width: 100%;
  }
  .logo{
    width: 40%;
    font-size: 15px;
  }
  .myaccount{
    justify-content: space-between;
    gap: 1vw;
  }
  .myaccount-links{
    font-size: 1rem;
  }
  .top-body{
   height: 100%;
   width: 100%;
   flex-direction: column-reverse;
  justify-content: center;
  
}
   
   
 .top-body_text{
  width: 100%;
  text-align: center;
  height: 100%;
  margin: 0;
 }

 .top-body_image{
  width: 100%;
 }
 .image{
  
  width:100%;
  
 
      
 }
 .text{
  font-size: 0.9rem;
 }

  .links{
          margin-top: 5vh;
          flex-wrap: wrap;
          gap: 1vh;
          padding-bottom: 15px;
         }

  .button{
    padding: 10px;              
    font-size: 0.85rem;
     }
  

  .containerbody-categories_furniture{
    width: 80vw;
    
   }
   .footer{
    display: flex;
    flex-direction: column;
    
  }
  .footer-links{
    display: flex;
    flex-direction: column;
    width: auto;
    
  }
  .title-link{
    text-align: left;
    padding-left: 20px;
  
  }
  .community-mobile{
    visibility: visible;
    margin-bottom: 110vh;
    
    
  }
  .community{
    visibility: collapse;
  }
 
  .singup{
    margin-top: -90vh;
  }
 
}

.carousel-container{
height: 250px;
align-items: center;


h2{ 
  text-align: center;
}
p{
  text-align: center;
}

}
.hola{
  width: 370px;
  height: 50vh;
}
.carousel{
  
  align-items: center;
  padding-left: 22px;
  padding-right: 22px;
  justify-content: center;
  margin-bottom: 8vh;
  
 

}

