
#search {
  color: red;
  width: 15vw;
  height: 5vh;
}
.page{
  height: 100%;
}

.header{

  /*background-color: orange;*/
& .signupnow{
  background-color:papayawhip;
  text-align: center;
  margin: 0;
}
&  .options {
  /*background-color: aqua;*/
  position: sticky;
}

&  .myaccount {
/*background-color: pink;*/
display: flex;
list-style: none;
justify-content: space-around;
font-weight: 700;



   &  .myaccount-links{
    color: black;

   }
   &  .logo{
    font-weight: 800;
    font-size: 28px;
    color: rgba(201, 89, 44, 0.959);
   }

   &  .box{
    
   }
}

&  .list{
  display: flex;
list-style: none;
justify-content: space-around;
align-content: center;
font-weight: 500;
text-decoration: underline;
font-size: 18px;
margin-top: 8vh;

}
}

.body{
  &  .top-body{
    display: flex;
    justify-content:center;
    height: 60vh;
    margin-top: 7vh;

    &  .top-body_text{
      background-color: whitesmoke;
      width: 100%;
      margin-left: 50px;

         .text{
          padding-left: 5vw;
          padding-top: 1vh;
          padding-right: 5vw;
          font-size: 20px;

         }

        .links{
          display: flex;
          justify-content: space-around;
          list-style: none;
          margin-top: 8vh;

            .button{
              border: 1px solid papayawhip;
              padding: 10px;
              background-color: papayawhip;
              color: black; 
              text-decoration: none; 
              /*text-transform: uppercase;*/
              font-family: 'Helvetica', sans-serif;
              border-radius: 50px;
              
            }
        }
    }

    &  .top-body_image{
      margin-right: 50px;
    
    
      & .image{
        height: 60vh;
        width: 40vw;
      }

    }
  }

  &  .containerbody{ 
    height: 100%;
    &  .containerbody-categories{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content:space-around;
      height: 100%;
      gap: 1vw;
      padding: 50px;


        &  .containerbody-categories_furniture{
          width: 23vw;
          height: 45vh;
          list-style: none;
          align-items: center;
          height: 100%;
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          padding-bottom: 15px;
          border: black 1px solid;
          border-color: brown;
      

          img {
            width: 100%;
            height: 200px;
          }
        }
    }
}
.bottom-card{
border: black 2px solid;
width: 120px;
height: 35px;
text-align: center;
padding-top: 3%;
text-decoration: none;
color: black;
border-radius: 5%;
}
.discount{
  
}
.categories{
  margin-top: 2vh;
  margin-bottom: 6vh;
}

.community{

.community-text{
  text-align: center;
  font-size: 20px;
  margin-bottom: 5px;
}

.community-title{
  text-align: center;
  font-weight: 300;
  font-size: 50px;
  margin-top: 0px;
}
  
.community-list{
  display: flex;
  justify-content: space-around;
  padding-left: 50px;
  padding-right: 50px;
}
.container-community{
  width: 27vw;
  list-style: none;
  align-items: center;
  height: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  text-align: center;

  & .title{
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
  &  .description{
     font-size: 14px;
     margin-top: 0px;
     padding-left: 10px;
    padding-right: 10px;
  }

  img{
    width: 100%;
    height: 200px;
  }
}}

.footer{
  display: flex;
  flex-direction: row;
  background-color:rebeccapurple ;

  &  .footer-link{
    display: flex;
    flex-direction: column;
  }
}



}
